openapi: 3.0.0
info:
  title: eformsign API
  version: '1.0'
servers:
  - url: 'http://api.eformsign.com/v2.0'
paths:
  '/api/documents/{DOCUMENT_ID}':
    parameters:
      - schema:
          type: string
        name: DOCUMENT_ID
        in: path
        required: true
    get:
      summary: 문서정보 조회
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 문서 id
                  template:
                    type: object
                    description: 템플릿 정보
                    properties:
                      id:
                        type: string
                        description: 템플릿 id
                      name:
                        type: string
                        description: 템플릿 명
                      document_name:
                        type: string
                        description: 문서 제목
                      document_number:
                        type: string
                        description: 문서 번호
                  creator:
                    type: object
                    description: '문서 생성자 정보(id, name 포함)'
                    properties:
                      id:
                        type: string
                        description: 문서 생성자 id
                      name:
                        type: string
                        description: 생성자 명
                      recipient_type:
                        type: string
                        description: 수신자 타입
                      created_date:
                        type: integer
                        format: int64
                        description: 생성일
                  last_editor:
                    type: object
                    description: '문서 수정자 정보(id, name 포함)'
                    properties:
                      id:
                        type: string
                        description: 수정자 id
                      name:
                        type: string
                        description: 수정자 명
                      recipient_type:
                        type: string
                        description: 수신자 타입
                      updated_date:
                        type: integer
                        format: int64
                        description: 문서 수정일
                  current_status:
                    type: object
                    description: 현재 상태 정보
                    properties:
                      status_type:
                        type: string
                        description: 상태 타입
                      step_type:
                        type: string
                        description: 스탭 타입
                      step_index:
                        type: number
                        description: 스탭 index
                      step_name:
                        type: string
                        description: 스탭 명
                  step_recipients:
                    description: 수신자들 정보
                    type: array
                    items:
                      type: object
                      properties:
                        recipient_type:
                          type: string
                          description: 수신자 타입
                        id:
                          type: string
                          description: 수신자 id
                        name:
                          type: string
                          description: 수신자 명
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 필드 id
                        value:
                          type: string
                          description: 필드 값
                        type:
                          type: string
                          description: 필드의 데이터 타입
                  previous_status:
                    type: array
                    description: 이전 상태 정보
                    items:
                      type: object
                      properties:
                        step_type:
                          type: string
                          description: 스탭 ㅌ
                        step_name:
                          type: string
                          description: 스탭 명
                        action_type:
                          type: string
                          description: 액션 타입
                        executor:
                          type: object
                          description: 수행자 정보
                          properties:
                            recipient_type:
                              type: string
                              description: 수행자 타입
                            id:
                              type: string
                              description: 수행자 id
                            name:
                              type: string
                              description: 수행자 이름
                            executed_date:
                              type: integer
                              format: int64
                              description: 수행 날짜
                  next_status:
                    type: array
                    description: 다음 상태 정보
                    items:
                      type: object
                      properties:
                        step_type:
                          type: string
                          description: 스탭 타입
                        step_name:
                          type: string
                          description: 스탭 명
                        step_recipients:
                          type: object
                          description: 수신자들 정보
                          properties:
                            recipient_type:
                              type: string
                              description: 수신자 타입
                            id:
                              type: string
                              description: 수신자 id
                            name:
                              type: string
                              description: 수신자 이름
                  histories:
                    type: array
                    description: 히스토리 정보
                    items:
                      type: object
                      properties:
                        step_type:
                          type: string
                          description: 스탭 타입
                        action_type:
                          type: string
                          description: 액션 타입
                        executor:
                          type: object
                          description: 수행자 정보
                          properties:
                            recipient_type:
                              type: string
                              description: 수행자 타입
                            id:
                              type: string
                              description: ''
                            name:
                              type: string
                              format: int64
                              description: 수행자 이름
                            executor_date:
                              type: integer
                              format: int64
                              description: 수행 날짜
              examples:
                성공 시:
                  value:
                    id: 1e9c508486d149d8a402a4357c7533a2
                    template:
                      id: f261bba9d4d343ebb67bc1a839f8feff
                      name: 물품 구매 요청서
                    document_name: 제작 요청서
                    document_number: 구매 NO.1
                    creator:
                      recipient_type: '01'
                      id: john@forcs.com
                      name: jonh
                    created_date: 1477385802676
                    last_editor:
                      recipient_type: '01'
                      id: smith@forcs.com
                      name: smith
                    updated_date: 1477385802676
                    current_status:
                      status_type: '01'
                      step_type: '04'
                      step_index: 3
                      step_name: 내부 수신자
                      step_recipients:
                        - recipient_type: '01'
                          id: smith@forcs.com
                          name: smith
                        - recipient_type: '02'
                          name: john
                          email: john@forcs.com
                          sms: '+821012341234'
                    fields:
                      - id: name
                        value: john
                        type: String
                      - id: address
                        value: '646, Nonhyeon-ro, Gangnam-gu, Seoul, Korea '
                        type: String
                    previous_status:
                      - step_type: '00'
                        step_name: write
                        action_type: '01'
                        executor:
                          recipient_type: '01'
                          id: john@focs.com
                          name: john
                        executed_date: 1213123213
                    next_status:
                      - status_type: '01'
                        step_type: '02'
                        step_name: approve
                        step_recipients:
                          - recipient_type: '01'
                            id: smith@forcs.com
                            name: smith
                      - status_type: '01'
                        step_type: '03'
                        step_name: external recipient
                        step_recipients:
                          - recipient_type: '02'
                            name: james
                            sms: '+821012341224'
                      - status_type: '03'
                        step_type: '01'
                        step_name: complete
                        step_recipients: []
                    histories:
                      - step_type: '00'
                        action_type: '01'
                        executor:
                          recipient_type: '01'
                          id: john@focs.com
                          name: john
                        executed_date: 1477385802676
                      - step_type: '00'
                        action_type: '02'
                        executor:
                          recipient_type: '01'
                          id: aaa@focs.com
                          name: 홍길동
                        executed_date: 1477385802676
            application/xml:
              schema:
                type: object
                properties: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 에러 코드
                  ErrorMessage:
                    type: string
                    description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
            application/xml:
              schema:
                type: object
                properties: {}
      operationId: get-api-documents-DOCUMENT_ID
      description: |-
        문서의 일반정보, 상세정보, 이력, 진행상황 등을 조회합니다.
        *참고: http://wiki.oz4cs.com/display/eformsignapi/2.2.3+Open+API
      parameters:
        - in: unknown
        - schema:
            type: boolean
          in: query
          name: include_fields
          description: 'default는 false, 필요시 true로 요청'
        - schema:
            type: boolean
          in: query
          description: 'default는 false, 필요시 true로 요청'
          name: include_histories
        - schema:
            type: boolean
          in: query
          description: 'default는 false, 필요시 true로 요청'
          name: include_previous_status
        - schema:
            type: boolean
          in: query
          description: 'default는 false, 필요시 true로 요청'
          name: include_next_status
        - schema:
            type: string
          in: header
          name: Content-Type
          required: true
          description: application/json
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
        description: ''
  '/api/documents/{DOCUMENT_ID}/download_files':
    parameters:
      - schema:
          type: string
        name: DOCUMENT_ID
        in: path
        required: true
    get:
      summary: '문서 파일 다운로드(문서 PDF, 감사파일증명 PDF)'
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: 'pdf 파일 한개 일경우 application/pdf,  pdf 파일이 여러 개일 경우 application/zip'
            Content-disposition:
              schema:
                type: string
              description: 예시 attachment; filename=윤승환 휴가 신청서.pdf;
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 에러 코드
                  ErrorMessage:
                    type: string
                    description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      operationId: get-api-documents-DOCUMENT_ID-download_files
      description: 문서의 파일을 다운로드합니다.
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
        - schema:
            type: string
          in: query
          name: file_type
          description: '다운로드 받을 파일 타입으로 document, audit_trail (, 구분자로 둘다 사용 가능)'
          required: true
  '/api/documents/{DOCUMENT_ID}/download_attach_files':
    parameters:
      - schema:
          type: string
        name: DOCUMENT_ID
        in: path
        required: true
    get:
      summary: 문서 첨부 파일 다운로드
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/zip
            Content-disposition:
              schema:
                type: string
              description: '예시 attachment; filename={document_id}.zip;'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 에러 코드
                  ErrorMessage:
                    type: string
                    description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: string
                    ErrorMessage: string
      operationId: get-api-documents-DOCUMENT_ID-download_attach_files
      description: 문서의 첨부된 파일을 다운로드합니다.
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
components:
  schemas:
    User:
      title: User
      type: object
      description: ''
      x-examples:
        Alice Smith:
          id: 142
          firstName: Alice
          lastName: Smith
          email: alice.smith@gmail.com
          dateOfBirth: '1997-10-31'
          emailVerified: true
          signUpDate: '2019-08-24'
      properties:
        id:
          type: integer
          description: Unique identifier for the given user.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        dateOfBirth:
          type: string
          format: date
          example: '1997-10-31'
        emailVerified:
          type: boolean
          description: Set to true if the user's email has been verified.
        createDate:
          type: string
          format: date
          description: The date that the user was created.
      required:
        - id
        - firstName
        - lastName
        - email
        - emailVerified
  securitySchemes: {}
