openapi: 3.0.0
info:
  title: eformsign API
  version: '1.0'
servers:
  - url: 'http://api.eformsign.com/v2.0'
paths:
  /api/documents:
    get:
      summary: OPA2_008 문서 목록 조회
      tags: []
      responses:
        '200':
          description: |-
            OK

            API 요청은 성공하였으나 조건에 해당하는 문서가 없을 시
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    description: 문서 목록 정보
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 문서 ID
                        template:
                          type: object
                          description: 템플릿 정보
                          properties:
                            id:
                              type: string
                              description: 템플릿 ID
                            name:
                              type: string
                              description: 템플릿 명
                        document_name:
                          type: string
                          description: 문서 제목
                        document_number:
                          type: string
                          description: 문서 번호
                        creator:
                          type: object
                          description: |-
                            문서 생성자 정보
                            문서 생성자 객체(id, name 포함)
                          properties:
                            id:
                              type: string
                              description: 문서 생성자 id
                            name:
                              type: string
                              description: 생성자 명
                            recipient_type:
                              type: string
                              description: 수신자 타입
                        created_date:
                          type: integer
                          description: 생성일
                        last_editor:
                          type: object
                          description: |-
                            문서 수정자 정보
                            문서 수정자 객체(id, name 포함)
                          properties:
                            id:
                              type: string
                              description: 수정자 id
                            name:
                              type: string
                              description: 수정자 이름
                            recipient_type:
                              type: string
                              description: 수신자 타입
                        updated_date:
                          type: string
                          description: 문서 수정일
                        current_status:
                          type: object
                          description: 현재 상태 정보
                          properties:
                            status_type:
                              type: string
                              description: 상태 타입
                            step_type:
                              type: string
                              description: 단계 타입
                        step_index:
                          type: string
                          description: 단계 index
                        step_name:
                          type: string
                          description: 단계 이름
                        step_recipients:
                          type: array
                          description: 수신자 정보
                          items:
                            type: object
                            properties:
                              recipient_type:
                                type: string
                                description: 수신자 타입
                              id:
                                type: string
                                description: 수신자 id
                              name:
                                type: string
                                description: 수신자 이름
                        fields:
                          type: array
                          description: 필드 정보
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 필드 id
                              value:
                                type: string
                                description: 필드 값
                              type:
                                type: string
                                description: 필드 데이터 타입
                        previous_status:
                          type: array
                          description: 이전 상태 정보
                          items:
                            type: object
                            properties:
                              step_type:
                                type: string
                                description: 단계 타입
                              step_name:
                                type: string
                                description: 단계 이름
                              action_type:
                                type: string
                                description: 액션 타입
                              executor:
                                type: object
                                description: 수행자 정보
                                properties:
                                  recipient_type:
                                    type: string
                                    description: 수행자 타입
                                  id:
                                    type: string
                                    description: 수행자 id
                                  name:
                                    type: string
                                    description: 수행자 이름
                              executed_date:
                                type: string
                                description: 수행 날짜
                        next_status:
                          type: array
                          description: 다음 상태 정보
                          items:
                            type: object
                            properties:
                              step_type:
                                type: string
                                description: 단계 타입
                              step_name:
                                type: string
                                description: 단계 이름
                              step_recipients:
                                type: object
                                description: 수신자 정보
                                properties:
                                  recipient_type:
                                    type: string
                                    description: 수신자 타입
                                  id:
                                    type: string
                                    description: 수신자 id
                                  name:
                                    type: string
                                    description: 수신자 이름
                        histories:
                          type: array
                          description: 문서 히스토리 정보
                          items:
                            type: object
                            properties:
                              step_type:
                                type: string
                                description: 단계 타입
                              action_type:
                                type: string
                                description: 액션 타입
                              executor:
                                type: object
                                description: 수행자 정보
                                properties:
                                  recipient_type:
                                    type: string
                                    description: 수행자 타입
                                  id:
                                    type: string
                                    description: 수행자 id
                                  name:
                                    type: string
                                    description: 수행자 이름
                              executed_date:
                                type: string
                                description: 수행 날짜
                  total_rows:
                    type: integer
                    description: 전체 문서 수
                  limit:
                    type: integer
                    description: 한 페이지에 표시되는 문서 수
                  skip:
                    type: integer
                    description: 건너뛴 문서 수
              examples:
                성공 시:
                  value:
                    documents:
                      - id: 1e9c508486d149d8a402a4357c7533a2
                        template:
                          id: f261bba9d4d343ebb67bc1a839f8feff
                          name: 물품 구매 요청서
                        document_name: 제작 요청서
                        document_number: 구매 NO.1
                        creator:
                          recipient_type: '01'
                          id: john@forcs.com
                          name: jonh
                        created_date: 1477385802676
                        last_editor:
                          recipient_type: '01'
                          id: smith@forcs.com
                          name: smith
                        updated_date: 1477385802676
                        current_status:
                          status_type: '01'
                          step_type: '04'
                          step_index: 3
                          step_name: 내부 수신자
                          step_recipients:
                            - recipient_type: '01'
                              id: smith@forcs.com
                              name: smith
                            - recipient_type: '02'
                              name: john
                              email: john@forcs.com
                              sms: '+821012341234'
                        fields:
                          - id: name
                            value: john
                            type: String
                          - id: address
                            value: '646, Nonhyeon-ro, Gangnam-gu, Seoul, Korea '
                            type: String
                        previous_status:
                          - step_type: '00'
                            step_name: write
                            action_type: '01'
                            executor:
                              recipient_type: '01'
                              id: john@focs.com
                              name: john
                            executed_date: 1213123213
                        next_status:
                          - status_type: '01'
                            step_type: '02'
                            step_name: approve
                            step_recipients:
                              - recipient_type: '01'
                                id: smith@forcs.com
                                name: smith
                          - status_type: '01'
                            step_type: '03'
                            step_name: external recipient
                            step_recipients:
                              - recipient_type: '02'
                                name: james
                                sms: '+821012341224'
                          - status_type: '03'
                            step_type: '01'
                            step_name: complete
                            step_recipients: []
                        histories:
                          - step_type: '00'
                            action_type: '01'
                            executor:
                              recipient_type: '01'
                              id: john@focs.com
                              name: john
                            executed_date: 1477385802676
                          - step_type: '00'
                            action_type: '02'
                            executor:
                              recipient_type: '01'
                              id: aaa@focs.com
                              name: 홍길동
                            executed_date: 1477385802676
                      - id: 1e9c508486d149d8a402a4357c7533a2
                        template:
                          id: f261bba9d4d343ebb67bc1a839f8feff
                          name: 물품 구매 요청서
                        document_name: 제작 요청서
                        document_number: 구매 NO.1
                        creator:
                          recipient_type: '01'
                          id: john@forcs.com
                          name: jonh
                        created_date: 1477385802676
                        last_editor:
                          recipient_type: '01'
                          id: smith@forcs.com
                          name: smith
                        updated_date: 1477385802676
                        current_status:
                          status_type: '01'
                          step_type: '04'
                          step_index: 3
                          step_name: 내부 수신자
                          step_recipients:
                            - recipient_type: '01'
                              id: smith@forcs.com
                              name: smith
                            - recipient_type: '02'
                              name: john
                              email: john@forcs.com
                              sms: '+821012341234'
                        fields:
                          - id: name
                            value: john
                            type: String
                          - id: address
                            value: '646, Nonhyeon-ro, Gangnam-gu, Seoul, Korea '
                            type: String
                        previous_status:
                          - step_type: '00'
                            step_name: write
                            action_type: '01'
                            executor:
                              recipient_type: '01'
                              id: john@focs.com
                              name: john
                            executed_date: 1213123213
                        next_status:
                          - status_type: '01'
                            step_type: '02'
                            step_name: approve
                            step_recipients:
                              - recipient_type: '01'
                                id: smith@forcs.com
                                name: smith
                          - status_type: '01'
                            step_type: '03'
                            step_name: external recipient
                            step_recipients:
                              - recipient_type: '02'
                                name: james
                                sms: '+821012341224'
                          - status_type: '03'
                            step_type: '01'
                            step_name: complete
                            step_recipients: []
                        histories:
                          - step_type: '00'
                            action_type: '01'
                            executor:
                              recipient_type: '01'
                              id: john@focs.com
                              name: john
                            executed_date: 1477385802676
                          - step_type: '00'
                            action_type: '02'
                            executor:
                              recipient_type: '01'
                              id: aaa@focs.com
                              name: 홍길동
                            executed_date: 1477385802676
                    total_rows: '2'
                    limit: '20'
                    skip: '0'
        '403':
          description: |-
            Forbidden

            API 요청 실패 시
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시됨
                      error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                example-1:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      operationId: get-api-documents
      description: |-
        문서의 일반 정보, 상세 정보, 이력, 진행상황 등을 목록으로 조회할 수 있는 API입니다.
        * 도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Access token값을 Bearer 토큰으로 사용
          required: true
        - schema:
            type: boolean
          in: query
          name: include_fields
          description: '필드 포함 여부/default는 false, 필요시 true로 요청'
        - schema:
            type: boolean
          in: query
          name: include_histories
          description: '문서 이력 포함 여부/default는 false, 필요시 true로 요청'
        - schema:
            type: boolean
          in: query
          name: include_previous_status
          description: '이전 단계 정보 포함 여부/default는 false, 필요시 true로 요청'
        - schema:
            type: boolean
          in: query
          name: include_next_status
          description: '다음 단계 정보 포함 여부/default는 false, 필요시 true로 요청'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: '문서함 타입/01:진행 중, 02:처리할 문서, 03: 완료 문서'
                title_and_content:
                  type: string
                  description: '문서 제목 및 내용에서 검색할 쿼리/입력 시, 검색 결과에 해당하는 문서만 표시'
                title:
                  type: string
                  description: '문서 제목에서 검색할 쿼리/입력 시, 검색 결과에 해당하는 문서만 표시'
                content:
                  type: string
                  description: '문서 내용에서 검색할 쿼리/입력 시, 검색 결과에 해당하는 문서만 표시'
                limit:
                  type: string
                  description: 한 번에 표시할 문서 수/페이징 용
                skip:
                  type: string
                  description: |-
                    목록에서 건너뛰고 표시할 문서 수
                    ex) limit을 20으로 설정한 경우, skip = 0 : 1page, 20 : 2page, 40 : 3page와 같이 페이징할 수 있음. limit의 배수가 아니더라도 설정 가능
            examples:
              example:
                value:
                  type: '03'
                  title_and_content: ''
                  title: ''
                  content: ''
                  limit: '20'
                  skip: '0'
        description: |-
          GET /v2.0/api/documents HTTP/1.1
          Content-Type : application/json
          Authorization:Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
    delete:
      summary: OPA2_009 문서 삭제
      operationId: delete-api-documents
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: |-
                      응답 코드
                      -1: 정상
                  message:
                    type: string
                    description: 메시지
                  status:
                    type: string
                    description: |-
                      HTTP 응답코드
                      200: 정상
              examples:
                성공 시:
                  value:
                    code: '-1'
                    message: Completed.
                    status: '200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type:
                      - string
                      - object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시됨
                      error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4000004'
                    ErrorMessage: No document selected.
      description: |-
        문서를 삭제하는 API입니다.


        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 
        ex)
        https://kr-api.eformsign.com/v2.0/api/documents
        https://kr-api.eformsign.com/v2.0/api/documents?template_id=c4b18b459b1649b286e4955334ed9b50
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Access token값을 Bearer 토큰으로 사용/Bearer<access_token>
          required: true
        - schema:
            type: string
          in: query
          name: template_id
          description: 삭제할 문서의 템플릿 ID
      requestBody:
        content:
          application/json:
            schema:
              type:
                - string
                - object
              properties:
                document_ids:
                  type:
                    - string
                    - array
                  description: |-
                    삭제할 문서의 ID를 String 형태로 담고 있는 Array,
                    DELETE 메서드의 경우, 사용 환경에 따라 Body를 입력하지 못하거나, 입력해도 무시하고 호출하는 경우가 발생할 수 있음
                  items: {}
            examples:
              example:
                value:
                  document_ids:
                    - 91da0dbe8788413897a4878e71709e7d
        description: |-
          DELETE /v2.0/api/documents?template_id=c4b18b459b1649b286e4955334ed9b50 HTTP/1.1
          Content-Type : application/json
          Authorization : Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
  /api/members:
    get:
      summary: OPA2_010 구성원 목록 조회
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    description: 멤버 목록
                    items:
                      type: object
                      properties:
                        withdrawal:
                          type: boolean
                          description: ''
                        id:
                          type: string
                          description: 아이디
                        account_id:
                          type: string
                        name:
                          type: string
                          description: 이름
                        department:
                          type: string
                          description: 부서
                        position:
                          type: string
                          description: 직책
                        create_date:
                          type: integer
                          description: 생성 날짜
                        enabled:
                          type: boolean
                          description: 활성화 여부
                        isRefused:
                          type: boolean
                          description: 초대 거절 여부
                        isExpired:
                          type: boolean
                          description: 초대 만료 여부
                        isInvited:
                          type: boolean
                          description: 초대 여부
                        isWithdrawal:
                          type: boolean
                          description: 멤버 탈퇴 여부
                        contact:
                          type: object
                          description: 연락처 정보
                          properties:
                            country_id:
                              type: string
                              description: 국번
                            number:
                              type: string
                              description: 전화번호
                            tel:
                              type: string
                              description: 휴대전화 번호
                        role:
                          type: array
                          description: 권한 정보
                          items: {}
                        group:
                          type: array
                          description: 그룹 정보
                          items: {}
                        fields:
                          type: object
                          description: 커스텀 필드 정보
                          properties:
                            u_id:
                              type: string
                              description: uid
                            field_key:
                              type: string
                              description: 필드 키
                            field_value:
                              type: string
                              description: 필드 값
                            field_file:
                              type: string
                              description: 필드 파일
                        deleted:
                          type: boolean
                          description: 탈퇴 여부
              examples:
                성공 시:
                  value:
                    members:
                      - withdrawal: false
                        id: pks2111@naver.com
                        account_id: pks2111@naver.com
                        name: 박경석
                        department: 클라우드2팀
                        position: 책임
                        create_date: 1615774618177
                        enabled: true
                        isRefused: false
                        isExpired: false
                        isInvited: false
                        isWithdrawal: false
                        contact:
                          country_id: '+82'
                          number: '01064835480'
                          tel: '01064835480'
                        role:
                          - company_manager
                          - template_manager
                          - member
                        group: []
                        fields:
                          - u_id: e49f71599bed4d58922c6593248ea3f0
                            field_key: 멤버_이미지1
                            field_value: 20191120_111607.jpg
                            field_file: c123c0d358cb4327af0a5dc501598bb8
                        deleted: false
                      - withdrawal: false
                        id: pks424@forcs.com
                        account_id: pks424@forcs.com
                        name: 박경석
                        department: 클라우드연구소
                        position: 책임
                        create_date: 1615445759524
                        enabled: true
                        isRefused: false
                        isExpired: false
                        isInvited: false
                        isWithdrawal: false
                        contact:
                          country_id: '+82'
                          number: '1064835480'
                          tel: '1064835480'
                        role:
                          - company_manager
                          - member
                          - admin
                          - template_manager
                        group:
                          - fdsfsdf
                          - dsfsdfds
                          - 테스트2
                          - 테스트1
                        fields:
                          - u_id: e49f71599bed4d58922c6593248ea3f0
                            field_key: 멤버_이미지1
                            field_value: 20191120_111607.jpg
                            field_file: c123c0d358cb4327af0a5dc501598bb8
                        deleted: false
                      - withdrawal: false
                        id: test1@forcs.com
                        account_id: test1@forcs.com
                        name: 관리자
                        department: ''
                        position: ''
                        create_date: 1596001485457
                        enabled: true
                        isRefused: false
                        isExpired: false
                        isInvited: false
                        isWithdrawal: false
                        contact:
                          country_id: ''
                          number: ''
                          tel: ''
                        role:
                          - company_manager
                          - member
                        group:
                          - fdsfsdf
                          - 테스트4
                          - 테스트5
                          - 테스트1
                        fields:
                          - u_id: e49f71599bed4d58922c6593248ea3f0
                            field_key: 멤버_이미지1
                            field_value: 20191120_111607.jpg
                            field_file: c123c0d358cb4327af0a5dc501598bb8
                        deleted: false
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시됨
                      error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      operationId: get-api-members
      description: |-
        회사에 소속된 멤버 목록을 조회합니다. 
        삭제된 멤버를 제외한 활성, 비활성, 탈퇴 멤버의 정보를 포함한 목록을 조회할 수 있습니다.

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        ex)
        https://kr-api.eformsign.com/v2.0/api/members
        https://kr-api.eformsign.com/v2.0/api/members?include_delete=true&eb_name_search=홍길동
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token 값을 Bearer 토큰으로 사용/ Bearer <access_token>  '
          required: true
        - schema:
            type: boolean
          in: query
          name: member_all
          description: '전체 멤버 조회 여부/ default는 false, 필요시 true로 요청'
        - schema:
            type: boolean
          in: query
          name: include_field
          description: '구성원 커스텀 필드 포맷 정보 포함 여부/ default는 false, 필요시 true로 요청'
        - schema:
            type: boolean
          in: query
          name: include_delete
          description: '삭제 멤버 조회 여부/ default는 false, 필요시 true로 요청'
        - schema:
            type: string
          in: query
          name: eb_name_search
          description: '입력한 쿼리와 이름(members.name)이 일치하는 구성원 검색/ default는 빈 값, 필요시 입력하여 요청 '
    post:
      summary: OPA2_011 구성원 추가
      operationId: post-api-members
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  company_id:
                    type: string
                    description: 회사 ID
                  member:
                    type:
                      - string
                      - object
                    description: 멤버 정보
                    properties:
                      name:
                        type: string
                        description: 멤버 이름
                      id:
                        type: string
                        description: 멤버 ID
              examples:
                성공 시:
                  value:
                    company_id: e434785d44604c61b2a24a3a9e94b7c3
                    member:
                      name: test98
                      id: test98@forcs.com
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type:
                      - string
                      - object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시됨
                      error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4000135'
                    ErrorMessage: This ID is already taken.
      description: |-
        회사에 멤버를 추가하는 API입니다.
        (forcs_com에 account를 생성하고 지정된 회사에 멤버를 추가하는 API)

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        ex)
        https://kr-api.eformsign.com/v2.0/api/members
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Access token값을 Bearer 토큰으로 사용/ Bearer <access_token>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: object
                  description: 계정 정보
                  properties:
                    id:
                      type: string
                      description: 계정으로 사용할 이메일
                    password:
                      type: string
                      description: 비밀번호
                    first_name:
                      type: string
                      description: 사용자 이름
                    contact:
                      type: object
                      description: 사용자 연락처 정보
                      properties:
                        tel:
                          type: string
                          description: 전화번호
                        number:
                          type: string
                          description: 휴대폰 번호
                        country_number:
                          type: string
                          description: |-
                            국가번호
                            "+82"형태로 입력
                    department:
                      type: string
                      description: 부서
                    position:
                      type: string
                      description: 직책
                    agreement:
                      type: object
                      description: 약관
                      properties:
                        marketing:
                          type: string
                          description: 마케팅 정보 수신 동의
                    role:
                      type: array
                      description: |-
                        사용자 권한 정보
                        "company_manager": 회사 관리 권한,"template_manager": 템플릿 관리 권한
                        중복 입력 가능, 미입력 시 member 권한 기본 적용됨
                      items: {}
            examples:
              example:
                value:
                  account:
                    id: test98@forcs.com
                    password: '1111'
                    first_name: test98
                    contact:
                      tel: '01023456789'
                      number: '01034567890'
                      country_number: '+82'
                    department: 연구소
                    position: 연구원
                    agreement:
                      marketing: true
                    role:
                      - company_manager
                      - template_manager
        description: |-
          POST /v2.0/api/members HTTP/1.1
          Content-Type : application/json
          Authorization : Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
  '/api/members/{member_id}':
    parameters:
      - schema:
          type: string
        name: member_id
        in: path
        required: true
    patch:
      summary: OPA2_012 구성원 수정
      operationId: patch-api-members-member_id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  company_id:
                    type: string
                    description: 회사 ID
                  member:
                    type: object
                    description: 멤버 정보
                    properties:
                      name:
                        type: string
                        description: 멤버 이름
                      id:
                        type: string
                        description: 멤버 계정
              examples:
                성공 시:
                  value:
                    company_id: e434785d44604c61b2a24a3a9e94b7c3
                    member:
                      name: 홍길동
                      id: test1@forcs.com
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type:
                      - string
                      - object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시됨
                      error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4000074'
                    ErrorMessage: Invalid id or password.
      description: |-
        회사의 멤버를 수정하는 API입니다.

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        ex)
        https://kr-api.eformsign.com/v2.0/api/members/test1@forcs.com
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: object
                  description: 계정 정보
                  properties:
                    id:
                      type: string
                      description: '사용자 계정(이메일), 사용자 조회용'
                    name:
                      type: string
                      description: 사용자 이름
                    contact:
                      type: object
                      description: 사용자 연락처 정보
                      properties:
                        tel:
                          type: string
                          description: 전화번호
                        number:
                          type: string
                          description: 휴대폰 번호
                    department:
                      type: string
                      description: 부서
                    position:
                      type: string
                      description: 직책
                    role:
                      type: array
                      description: |-
                        사용자 권한 정보
                        "company_manager": 회사 관리 권한, "template_manager": 템플릿 관리 권한
                        중복입력 가능, 미입력 시 member 권한 기본 적용
                      items: {}
            examples:
              example:
                value:
                  account:
                    id: test1@forcs.com
                    name: 홍길동
                    enabled: true
                    contact:
                      number: 010-2345-6789
                      tel: 010-1234-5678
                    department: 연구소
                    position: 연구원
                    role:
                      - company_manager
                      - template_manager
        description: |-
          PATCH /v2.0/api/members/test1@forcs.com HTTP/1.1
          Content-Type : application/json
          Authorization : Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: "application/json\t"
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token>'
          required: true
    delete:
      summary: OPA2_013 구성원 삭제
      operationId: delete-api-members-member_id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: '응답 코드(-1: 정상)'
                  message:
                    type: string
                    description: 메시지
                  status:
                    type: string
                    description: 'HTTP 응답 코드(200: 정상)'
              examples:
                성공 시:
                  value:
                    code: '-1'
                    message: Completed.
                    status: '200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type:
                      - string
                      - object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시
                      error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4000074'
                    ErrorMessage: Invalid id or password.
      description: |-
        회사 멤버를 삭제하는 API입니다.
        회사 대표관리자가 멤버를 탈퇴시킬 수 있습니다.

        도메인/v2.0/api/members/{account_id}

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        ex)
        https://kr-api.eformsign.com/v2.0/api/members/test1@forcs.com
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
        description: |-
          DELETE /v2.0/api/members/test1@forcs.com HTTP/1.1
          Content-Type : application/json
          Authorization:Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token>'
          required: true
  '/api/documents/{document_id}/re_request_outsider':
    parameters:
      - schema:
          type: string
        name: document_id
        in: path
        required: true
    post:
      summary: OPA2_014 외부자 문서 재요청
      operationId: post-api-documents-document_id-re_request_outsider
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: '응답 코드(-1: 정상)'
                  message:
                    type: string
                    description: 메시지
                  status:
                    type: string
                    description: 'HTTP 응답코드(200: 정상)'
              examples:
                성공 시:
                  value:
                    code: '-1'
                    message: Completed.
                    status: '200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시 error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                example-1:
                  value:
                    code: '4000004'
                    ErrorMessage: No document selected.
      description: |-
        외부 수신자에게 요청한 문서를 다시 요청하는 API입니다.

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        ex)
        https://kr-api.eformsign.com/v2.0/api/documents/d803930e2094464aab548c340f7c8a4b/re_request_outsider
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token>'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    next_steps:
                      type: array
                      description: 다음 단계 정보
                      items:
                        type: object
                        properties:
                          step_type:
                            type: string
                            description: |-
                              단계 종류
                              "outsider"
                          approvers:
                            type: array
                            items:
                              type: object
                              properties:
                                seq:
                                  type: string
                                user_id:
                                  type: string
                                  description: 수신자 이메일
                                user_name:
                                  type: string
                                  description: 수신자 이름
                                code:
                                  type: string
                                  description: |-
                                    국가 코드
                                    "+82" 형태로 입력
                                number:
                                  type: string
                                  description: 핸드폰 번호
                                auth_password:
                                  type: string
                                  description: 비밀번호
                                auth_hint:
                                  type: string
                                  description: 비밀번호 힌트
                                auth_valid_time:
                                  type: string
                                  description: 유효 기간(시간 단위)
                                approval_line_name:
                                  type: string
                                  description: 결재선 이름
                                use_mobile_auth:
                                  type: string
                                  description: 핸드폰 본인 인증 사용 여부
                                use_mobile_auth_view:
                                  type: string
                                unselected_sections:
                                  type: array
                                  items: {}
                          comment:
                            type: string
                            description: 요청 메시지
            examples:
              example-1:
                value:
                  input:
                    next_steps:
                      - step_type: outsider
                        approvers:
                          - seq: 1
                            user_id: test1@forcs.com
                            user_name: 홍길동
                            code: '+82'
                            number: '1022792430'
                            auth_password: forcs
                            auth_hint: 포시에스
                            auth_valid_time: 48
                            approval_line_name: ''
                            use_mobile_auth: false
                            use_mobile_auth_view: false
                            unselected_sections: []
                        comment: 재요청입니다.
        description: |-
          POST /v2.0/documents/d803930e2094464aab548c340f7c8a4b/re_request_outsider HTTP/1.1
          Content-Type : application/json
          HOST : https://kr-api.eformsign.com
          Authorization : Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
  /api/forms:
    get:
      summary: OPA2_015 작성 가능한 템플릿 목록 조회
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_rows:
                    type: integer
                    description: 템플릿 수
                  templates:
                    type: array
                    description: 템플릿 목록
                    items:
                      type: object
                      properties:
                        form_id:
                          type: string
                          description: 템플릿 ID
                        name:
                          type: string
                          description: 템플릿 이름
                        version:
                          type: string
                          description: 템플릿 버전
                        start_write_date:
                          type: integer
                          description: 템플릿 유효기간-시작일
                        end_write_date:
                          type: integer
                          description: |-
                            템플릿 유효기간-종료일
                            '기간 제한 없음'일 경우 32503647599999 반환
                        unlimited:
                          type:
                            - string
                            - boolean
                          description: 템플릿 유효 기간-기간 제한 없음 여부
                        create_id:
                          type: string
                          description: 템플릿 생성인 계정
                        create_name:
                          type: string
                          description: 템플릿 생성인 이름
                        create_date:
                          type: integer
                          description: 템플릿 생성일
                        update_id:
                          type: string
                          description: 템플릿 수정인 계정
                        update_name:
                          type: string
                          description: 템플릿 수정인 이름
                        update_date:
                          type: integer
                          description: 템플릿 수정일
                        category:
                          type: string
                          description: 카테고리
                        keyword:
                          type: string
                          description: 키워드
                        desc:
                          type: string
                          description: 설명
                        favorite:
                          type: boolean
                          description: 즐겨찾기 여부
                        is_sample:
                          type: boolean
                          description: 샘플 여부
                        file:
                          type: object
                          description: 템플릿 파일 정보
                          properties:
                            form_image_id:
                              type: string
                              description: 폼 이미지 ID
                            form_files:
                              type: array
                              description: 폼 파일 목록
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: 폼 파일 유형
                                  ozr_id:
                                    type: string
                                    description: |-
                                      폼 OZR ID
                                      원본 파일이 OZR 파일인 경우, file_id와 동일
                                  ext:
                                    type: string
                                    description: 폼 파일 확장자
                                  alias:
                                    type: string
                                    description: 폼 파일명
                                  file_id:
                                    type: string
                                    description: 폼 파일 ID
              examples:
                성공 시:
                  value:
                    total_rows: 147
                    templates:
                      - form_id: 9e71904bdc0f469a9d3682d7ff3cd62f
                        name: 휴아아하하
                        version: '2'
                        start_write_date: 1534690800000
                        end_write_date: 32503647599999
                        unlimited: true
                        create_id: pks424@forcs.com
                        create_name: 박경석
                        create_date: 1603784046202
                        update_id: pks424@forcs.com
                        update_name: 박경석
                        update_date: 1603862903783
                        category: Sample
                        keyword: ''
                        desc: ''
                        favorite: false
                        is_sample: false
                        file:
                          form_image_id: 0b8061a9abeb4bf5a3ca3f7b67aea9a3
                          form_files:
                            - type: excel
                              ozr_id: ff6d90e063f944ce80563a19b423043f
                              ext: .xlsx
                              alias: 휴가신청서.ozr
                              file_id: ff729f81f1b94728991d098f529796fb
                      - // 중략: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error 의 경우에만 표시
                      error 객체 ( code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      operationId: get-api-forms
      description: |-
        내부 멤버의 작성가능한 템플릿 목록을 조회하는 API입니다.

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 
        ex) https://kr-api.eformsign.com/v2.0/api/forms
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token>'
          required: true
  '/api/forms/mass_documents?template_id={{form_id}}':
    parameters:
      - schema:
          type: string
        name: '{form_id'
        in: path
        required: true
    post:
      summary: OPA2_016 문서 일괄 작성
      operationId: post-api-forms-mass_documents?template_id=-form_id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                성공 시:
                  value:
                    result:
                      request_id: 24862af66c5f4655b3bfdd79247536c7
                    code: '-1'
                    message: Completed.
                    status: '200'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                실패 시:
                  value:
                    status: '500'
                    code: '1000000001'
                    message: Fail
                    fail_result:
                      request_id: 24862af66c5f4655b3bfdd79247536c7
            application/xml:
              schema:
                type: object
                properties: {}
      description: |-
        내부 멤버의 문서를 일괄작성하는 API입니다.

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 
        ex)
        https://kr-api.eformsign.com/v2.0/api/forms/mass_documents?template_id=34270c4bcdd04719a1b243aefb161ac8
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token>'
          required: true
        - schema:
            type: string
          in: query
          name: template_id
          description: 템플릿 ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                documents:
                  type: array
                  description: 문서 목록
                  items:
                    type: object
                    properties:
                      select_group_name:
                        type: string
                        description: 그룹 명
                      document_name:
                        type: string
                        description: 문서 제목
                      fields:
                        type: array
                        description: 필드 정보
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 필드 id
                            value:
                              type: string
                              description: |-
                                필드 값
                                텍스트/멀티라인/증감: 데이터를 직접 입력

                                날짜: 회사 언어에 따라 하단의 지정 형식을 맞춰 입력
                                -회사 언어가 영어 : MM/dd/yyyy
                                -그 외 : yyyy-MM-dd

                                체크/라디오/콤보/토글: 선택하고자 하는 아이템의 '값'을 입력

                                카메라/첨부: 파일을 Data URI를 포함하여 base64로 인코딩한 값을 입력
                      recipients:
                        type: array
                        description: 결재 단계 정보
                        items:
                          type: object
                          properties:
                            step_type:
                              type: string
                              description: |-
                                워크플로우 단계 타입
                                "01"(완료), "02"(결재), "03"(외부 수신자), "04"(내부 수신자)
                                recipients 내 각 객체에 필수 설정되어야 함
                            member:
                              type: object
                              description: 멤버 정보
                              properties:
                                id:
                                  type: string
                                  description: |-
                                    단계 처리자 ID
                                    1) step_type이 결재일 경우 필수 설정되어야 함.

                                    2) step_type이 내부 수신자이고, 그룹 또는 멤버 중 하나를 선택하여 전송 옵션이 활성화된 경우 필수 설정되어야 함.

                                    단계 처리자를 그룹으로 설정하려면 그룹의 이름 또는 ID를 입력
                                name:
                                  type: string
                                  description: |-
                                    단계 처리자 이름
                                    step_type이 외부 수신자일 경우 필수 설정되어야 함.
                                sms:
                                  type: object
                                  description: 단계 처리자 휴대폰 정보
                                  properties:
                                    country_code:
                                      type: string
                                      description: 단계 처리자 휴대폰 국가 코드
                                    phone_number:
                                      type: string
                                      description: 단계 처리자 휴대폰 번호
                                auth:
                                  type: object
                                  description: |-
                                    외부 수신자 인증 정보

                                    step_type이 외부 수신자일 경우,
                                    템플릿의 외부 수신자 비밀번호 설정에 따라 필수 설정되어야 함.
                                  properties:
                                    password:
                                      type: string
                                      description: |-
                                        외부 수신자 단계 인증 비밀번호

                                        step_type이 외부 수신자일 경우,
                                        템플릿의 외부 수신자 비밀번호 설정에 따라 필수 설정되어야 함.
                                    password_hint:
                                      type: string
                                      description: 외부 수신자 단계 인증 비밀번호 힌트
                                    valid:
                                      type: object
                                      description: 외부 수신자 단계 문서 전송 기한
                                      properties:
                                        day:
                                          type: string
                                          description: 외부 수신자 단계 문서 전송 날짜
                                        hour:
                                          type: string
                                          description: 외부 수신자 단계 문서 전송 시간
                            group:
                              type: object
                              description: 그룹 정보
                              properties:
                                id:
                                  type: string
                                  description: 그룹 ID
                comment:
                  type: string
                  description: 코멘트
            examples:
              example:
                value:
                  documents:
                    - select_group_name: 테스트 1
                      document_name: 첨부 일괄 작성 테스트a
                      fields:
                        - id: SetFocus_TextBox
                          value: 오징어2
                      receipients:
                        - step_type: participant
                          use_mail: true
                          use_sms: true
                          member:
                            name: 외부1
                            id: pks2111@naver.com
                            sms:
                              country_code: '+82'
                              phone_number: '1064835480'
                          auth:
                            password: '1111'
                            password_hint: '1111'
                            valid:
                              day: 7
                              hour: 0
                    - select_group_name: 테스트 1
                      document_name: 첨부 일괄 작성 테스트b
                      fields:
                        - id: SetFocus_TextBox
                          value: 오징어2
                      receipients:
                        - step_type: participant
                          use_mail: true
                          use_sms: true
                          member:
                            name: 외부1
                            id: pks2111@naver.com
                            sms:
                              country_code: '+82'
                              phone_number: '1064835480'
                          auth:
                            password: '1111'
                            password_hint: '1111'
                            valid:
                              day: 7
                              hour: 0
                  comment: test bulk!!!
        description: |-
          POST /v2.0/api/forms/mass_documents HTTP/1.1
          Content-Type : application/json
          Authorization : Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
  /api/groups:
    get:
      summary: OPA2_017 그룹 목록 조회
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  format:
                    type: object
                    properties:
                      _id:
                        type: string
                      _rev:
                        type: string
                      type:
                        type: string
                      format_type:
                        type: string
                      format_datas:
                        type: array
                        items:
                          type: object
                          properties:
                            field_key:
                              type: string
                            field_type:
                              type: string
                            field_value:
                              type: string
                            field_file:
                              type: string
                            default_value:
                              type: string
                            deleted:
                              type: boolean
                  groups:
                    type: array
                    description: 그룹 목록
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 그룹 ID
                        name:
                          type: string
                          description: 그룹명
                        create_date:
                          type: integer
                          description: 그룹 생성일
                        description:
                          type: string
                          description: 그룹 설명
                        members:
                          type: array
                          description: 멤버 목록
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 멤버 ID
                              account_id:
                                type: string
                                description: 멤버 계정 ID
                              name:
                                type: string
                                description: 멤버 이름
                              create_date:
                                type: integer
                                description: 멤버 가입일
                              status:
                                type: string
                                description: 멤버 상태
                              contact:
                                type: object
                                description: 멤버 연락처
                                properties:
                                  country_id:
                                    type: string
                                    description: 멤버 연락처 국가 코드
                                  number:
                                    type: string
                                    description: 멤버 연락처 휴대폰 번호
                                  tel:
                                    type: string
                                    description: 멤버 연락처 전화번호
                              department:
                                type: string
                                description: 멤버 부서
                              position:
                                type: string
                                description: 멤버 직책
                        fields:
                          type: array
                          description: 그룹 사용자 정의 필드 목록
                          items:
                            type: object
                            properties:
                              u_id:
                                type: string
                                description: 그룹 사용자 정의 필드 ID
                              field_key:
                                type: string
                                description: 그룹 사용자 정의 필드 이름
                              field_value:
                                type: string
                                description: 그룹 사용자 정의 필드 이그룹 사용자 정의 필드 기본값
                              field_file:
                                type: string
                                description: 그룹 사용자 정의 필드 파일 (필드 기본값이 파일일 경우)
              examples:
                성공 시:
                  value:
                    format:
                      _id: 4938a03cabe8453ea5e04c0d2d43bacf
                      _rev: 39-b654a58de979d1044ac2a84e57c9db73
                      type: field_format
                      format_type: group
                      format_datas:
                        - field_key: e312629f804a4c728d198fa1f1124d98
                          field_type: image
                          field_value: 그룹_이미지1
                          field_file: ef8733af503a4efe9521d2dbc12f2b3b
                          default_value: bonobono_emot.gif
                          deleted: false
                    groups:
                      - id: 50ede19713a24efeaba2492ea339fbb1
                        name: dsfsdfds
                        create_date: 1594195164538
                        description: dfdf
                        members:
                          - id: pks424@forcs.com
                            account_id: pks424@forcs.com
                            name: 박경석
                            create_date: 1615445759524
                            status: member
                            contact:
                              country_id: '+82'
                              number: '1064835480'
                              tel: '1064835480'
                            department: 클라우드연구소
                            position: 책임
                        fields:
                          - u_id: e312629f804a4c728d198fa1f1124d98
                            field_key: 그룹_이미지1
                            field_value: bonobono_emot.gif
                            field_file: ef8733af503a4efe9521d2dbc12f2b3b
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시 error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      operationId: get-api-groups
      description: |-
        회사의 그룹을 조회하는 API입니다.

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        ex)
        https://kr-api.eformsign.com/v2.0/api/groups
        https://kr-api.eformsign.com/v2.0/api/groups?include_member=true&include_field=true
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token> '
          required: true
        - schema:
            type: boolean
          in: query
          name: include_member
          description: '멤버 정보 포함 여부/ default는 false, 필요시 true로 요청.'
        - schema:
            type: boolean
          in: query
          name: include_field
          description: '그룹 커스텀 필드 포맷 정보 포함 여부/ default 는 false, 필요시 true로 요청. '
    post:
      summary: OPA2_018 그룹 추가
      operationId: post-api-groups
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    type: object
                    description: 그룹 정보
                    properties:
                      id:
                        type: string
                        description: 그룹 ID
                      name:
                        type: string
                        description: 그룹 이름
              examples:
                성공 시:
                  value:
                    group:
                      id: 59169a3691d248a8ad2ac0585ccca998
                      name: 테스트그룹
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시 error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      description: |-
        회사에 그룹을 추가하는 API입니다.

        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        EX)
        https://kr-api.eformsign.com/v2.0/api/groups
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token> '
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group:
                  type: object
                  description: 그룹 정보
                  properties:
                    name:
                      type: string
                      description: id 정보
                    description:
                      type: string
                      description: 그룹 설명
                    members:
                      type: array
                      description: |-
                        그룹에 포함될 사용자 정보
                        ID를 String 형태로 포함하는 Array
                      items:
                        type: string
            examples:
              example:
                value:
                  group:
                    name: 테스트그룹
                    description: 클라우드팀
                    members:
                      - test1@forcs.com
        description: |-
          POST /v2.0/api/groups HTTP/1.1
          Content-Type : application/json
          Authorization:Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
    patch:
      summary: OPA2_019 그룹 수정
      operationId: patch-api-groups
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    type: object
                    description: 그룹 정보
                    properties:
                      id:
                        type: string
                        description: 그룹 ID
                      name:
                        type: string
                        description: 그룹 이름
              examples:
                성공 시:
                  value:
                    group:
                      id: 59169a3691d248a8ad2ac0585ccca998
                      name: 테스트그룹2
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시 error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                example-1:
                  value:
                    code: '4000123'
                    ErrorMessage: The group does not exist.
      description: |-
        회사의 그룹을 수정하는 API입니다.

        도메인/v2.0/api/groups/{group_id}
        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다. 

        ex)
        https://kr-api.eformsign.com/v2.0/api/groups/59169a3691d248a8ad2ac0585ccca998
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token>'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group:
                  type: object
                  description: 그룹 정보
                  properties:
                    name:
                      type: string
                      description: id 정보
                    description:
                      type: string
                      description: 그룹 설명
                    members:
                      type: array
                      description: |-
                        그룹에 포함될 사용자 정보
                        ID를 String 형태로 포함하는 Array
                      items: {}
            examples:
              example:
                value:
                  group:
                    name: 테스트그룹2
                    description: 클라우드2팀
                    members:
                      - test1@forcs.com
                      - test2@forcs.com
        description: |-
          PATCH /v2.0/api/groups HTTP/1.1
          Content-Type : application/json
          Authorization:Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
    delete:
      summary: OPA2_020 그룹 삭제
      operationId: delete-api-groups
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: |-
                      응답 코드
                      (-1: 정상)
                  message:
                    type: string
                    description: 메시지
                  status:
                    type: string
                    description: |-
                      HTTP 응답코드
                      (200: 정상)
              examples:
                성공 시:
                  value:
                    code: '-1'
                    message: Completed.
                    status: '200'
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: |-
                      에러 상세 정보
                      error의 경우에만 표시 error 객체(code, message 포함)
                    properties:
                      code:
                        type: string
                        description: 에러 코드
                      message:
                        type: string
                        description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4000123'
                    ErrorMessage: The group does not exist.
      description: |-
        회사의 그룹을 삭제하는 API입니다.

        도메인/v2.0/api/groups
        *도메인은 Access Token 발급 시 반환되는 api_key.company.api_url 값을 사용해야 합니다.

        EX)
        https://kr-api.eformsign.com/v2.0/api/groups
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: 'Access token값을 Bearer 토큰으로 사용, Bearer <access_token> '
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group_ids:
                  type: array
                  description: |-
                    삭제할 그룹 ID를 String 형태로 담고 있는 Array,

                    DELETE 메서드의 경우 사용 환경에 따라 Body를 입력하지 못하거나, 입력해도 무시하고 호출하는 경우가 존재함.

                    (Google Cloud의 경우 Body 사용 불가로 명시, Mozilla의 경우 Body 사용 가능 여부에 'May'로 표기 (다른 메소드의 경우 Yes/No로 표기함) )
                  items: {}
            examples:
              example:
                value:
                  group_ids:
                    - a1b1f52d896044f6a651624f0f5114ab
        description: |-
          DELETE /v2.0/api/groups HTTP/1.1
          Content-Type : application/json
          Authorization : Bearer eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJ....
          HOST : https://kr-api.eformsign.com
components:
  schemas: {}
  securitySchemes: {}
tags:
  - name: eformsign
