openapi: 3.0.0
info:
  title: eformsign API
  version: '1.0'
servers:
  - url: 'http://api.eformsign.com/v2.0'
paths:
  '/api/documents/{DOCUMENT_ID}':
    parameters:
      - schema:
          type: string
        name: DOCUMENT_ID
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 문서 id
                  template:
                    type: object
                    description: 템플릿 정보
                    properties:
                      template.id:
                        type: string
                        description: 템플릿 id
                      template.name:
                        type: string
                        description: 템플릿 명
                      document_name:
                        type: string
                        description: 문서 제목
                      document_number:
                        type: string
                        description: 문서 번호
                  creator:
                    type: object
                    description: '문서 생성자 정보(id, name 포함)'
                    properties:
                      creator.id:
                        type: string
                        description: 문서 생성자 id
                      creator.name:
                        type: string
                        description: 생성자 명
                      creator.recipient_type:
                        type: string
                        description: 수신자 타입
                      created_date:
                        type: integer
                        format: int64
                        description: 생성일
                  last_editor:
                    type: object
                    description: '문서 수정자 정보(id, name 포함)'
                    properties:
                      last_editor.id:
                        type: string
                        description: 수정자 id
                      last_editor.name:
                        type: string
                        description: 수정자 명
                      last_editor.recipient_type:
                        type: string
                        description: 수신자 타입
                      updated_date:
                        type: integer
                        format: int64
                        description: 문서 수정일
                  current_status:
                    type: object
                    description: 현재 상태 정보
                    properties:
                      current_status.status_type:
                        type: string
                        description: 상태 타입
                      current_status.step_type:
                        type: string
                        description: 스탭 타입
                      step_index:
                        type: number
                        description: 스탭 index
                      step_name:
                        type: string
                        description: 스탭 명
                  step_recipients:
                    description: 수신자들 정보
                    type: array
                    items:
                      type: object
                      properties:
                        'step_recipients[].recipient_type':
                          type: string
                          description: 수신자 타입
                        'step_recipients[].id':
                          type: string
                          description: 수신자 id
                        'step_recipients[].name':
                          type: string
                          description: 수신자 명
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        'fields[].id':
                          type: string
                          description: 필드 id
                        'fields[].value':
                          type: string
                          description: 필드 값
                        'fields[].type':
                          type: string
                          description: 필드의 데이터 타입
                  previous_status:
                    type: array
                    description: 이전 상태 정보
                    items:
                      type: object
                      properties:
                        'previous_status[].step_type':
                          type: string
                          description: 스탭 ㅌ
                        'previous_status[].step_name':
                          type: string
                          description: 스탭 명
                        'previous_status[].action_type':
                          type: string
                          description: 액션 타입
                        'previous_status[].executor':
                          type: object
                          description: 수행자 정보
                          properties:
                            'previous_status[].executor.recipient_type':
                              type: string
                              description: 수행자 타입
                            'previous_status[].executor.id':
                              type: string
                              description: 수행자 id
                            'previous_status[].executor.name':
                              type: string
                              description: 수행자 이름
                            'previous_status[].executed_date':
                              type: integer
                              format: int64
                              description: 수행 날짜
                  next_status:
                    type: array
                    description: 다음 상태 정보
                    items:
                      type: object
                      properties:
                        'next_status[].step_type':
                          type: string
                          description: 스탭 타입
                        'next_status[].step_name':
                          type: string
                          description: 스탭 명
                        'next_status[].step_recipients':
                          type: object
                          description: 수신자들 정보
                          properties:
                            'next_status[].step_recipients.recipient_type':
                              type: string
                              description: 수신자 타입
                            'next_status[].step_recipients.id':
                              type: string
                              description: 수신자 id
                            'next_status[].step_recipients.name':
                              type: string
                              description: 수신자 이름
                  histories:
                    type: array
                    description: 히스토리 정보
                    items:
                      type: object
                      properties:
                        'histories[].step_type':
                          type: string
                          description: 스탭 타입
                        'histories[].action_type':
                          type: string
                          description: 액션 타입
                        'histories[].executor':
                          type: object
                          description: 수행자 정보
                          properties:
                            'histories[].executor.recipient_type':
                              type: string
                              description: 수행자 타입
                            'histories[].executor.id':
                              type: string
                              description: ''
                            'histories[].executor.name':
                              type: string
                              format: int64
                              description: 수행자 이름
                            'histories[].executor_date':
                              type: integer
                              format: int64
                              description: 수행 날짜
              examples:
                example-1:
                  value:
                    id: 1e9c508486d149d8a402a4357c7533a2
                    template:
                      id: f261bba9d4d343ebb67bc1a839f8feff
                      name: 물품 구매 요청서
                      document_name: string
                      document_number: string
                    creator:
                      creator.id: string
                      creator.name: string
                      creator.recipient_type: string
                      created_date: 0
                    last_editor:
                      last_editor.id: string
                      last_editor.name: string
                      last_editor.recipient_type: string
                      updated_date: 0
                    current_status:
                      current_status.status_type: string
                      current_status.step_type: string
            application/xml:
              schema:
                type: object
                properties: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 에러 코드
                  ErrorMessage:
                    type: string
                    description: 에러 메시지
              examples:
                example-1:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
            application/xml:
              schema:
                type: object
                properties: {}
      operationId: get-api-documents-DOCUMENT_ID
      description: '문서의 일반정보, 상세정보, 이력, 진행상황 등을 조회합니다.'
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include_fields:
                  type: boolean
                  description: 'default는 false, 필요시 true로 요청'
                include_histories:
                  type: boolean
                  description: 'fault는 false, 필요시 true로 요청'
                include_previous_status:
                  type: boolean
                  description: 'default는 false, 필요시 true로 요청'
                include_next_status:
                  type: boolean
                  description: 'default는 false, 필요시 true로 요청'
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
        description: ''
components:
  schemas:
    User:
      title: User
      type: object
      description: ''
      x-examples:
        Alice Smith:
          id: 142
          firstName: Alice
          lastName: Smith
          email: alice.smith@gmail.com
          dateOfBirth: '1997-10-31'
          emailVerified: true
          signUpDate: '2019-08-24'
      properties:
        id:
          type: integer
          description: Unique identifier for the given user.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        dateOfBirth:
          type: string
          format: date
          example: '1997-10-31'
        emailVerified:
          type: boolean
          description: Set to true if the user's email has been verified.
        createDate:
          type: string
          format: date
          description: The date that the user was created.
      required:
        - id
        - firstName
        - lastName
        - email
        - emailVerified
  securitySchemes: {}
